.wt{
    margin: auto;
    text-align: center;
}

/* *{
    margin: auto;
}

.tudo{
    display: flex;
    text-align: center;
    gap: 5vw;
}


  

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
  }
   */